p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.feature{
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 1rem 1.5rem;
    transform: translate(-50%, -50%);
    will-change: top, left;
}

.feature-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--base-400);
    border: 0.125rem solid var(--base-300);
    border-radius: 0.5rem;
    will-change: width, height, border-radius, border-width ;
}

.feature-content{
    position: relative;
    will-change: opacity;
}

.feature-content p{
    text-transform: uppercase;
    font-family: "Sans serif ";
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1;
}

.search-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
    background-color: var(--base-400);
    opacity: 0;
    display: flex;
    align-items: center;
    border: 0.35rem solid var(--base-300);
    border-radius: 25rem;
    will-change: width, height, opacity, transform ;
}

.search-bar p{
    position: relative;
    opacity: 0;
    transform: translate(2rem);
    will-change: opacity;
}

@media (max-width: 1000px){
    .feature{
        padding: 1rem;
    }
    .feature-content{
        font-size: 0.7rem;
    }
}