.master-svg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 50;
    overflow: visible;
    background: transparent;
}

.master-svg-overlay svg {
    display: block;
    width: 100%;
    height: 100%;
}

.master-svg-overlay svg path {
    fill: none;
    stroke: #010D3E;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}